@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0047AB;  /* Your chosen primary color */
  --secondary-color: #FFA500;  /* Your chosen secondary color */
  --accent-color: #FF6347;  /* Accent color */
  --background-color: #FFFFFF;  /* Background color */
}

@layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
}
